rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /images/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null
                          && request.auth.uid == uid
                          && request.resource.size < 10 * 1024 * 1024
                          && request.resource.contentType.matches('image/.*');

      // Leitura sempre permitida ao dono, mesmo sem as checagens de upload acima
      allow read: if request.auth != null && request.auth.uid == uid;
    }
  }
}
